@import "_elements";
@charset "UTF-8";

// GLOBAL

// STRUCTURE
html { font-size: 100%; height:100%; margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family:Verdana, Arial, sans-serif; color:$default-color; }
body { background:#fff; margin:0; padding:0; font-size:1em; min-height:100%; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

hr { border:0; border-top-width:1px; border-color:#fff; border-style:solid; clear:both; height:0; display:block; margin:0; }

a { color: $default-link-color; text-decoration:none; }
a:active, a:visited, a:hover, a:link { color: $default-link-color; }

b, strong { font-weight: bold; }
ul, ol { margin: 0 0 1em 0; padding: 0 0 0 40px; }
img { border: 0; vertical-align: middle; }
.aligncenter { text-align: center; }
.unstyled { list-style-type:none; margin:0; padding:0; }

.clearfix { zoom:1; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }

// STRUCTURE

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body > div {
	display: none;
}

.ng-scope {
	display: block;
}
